<template>
  <div>
    <!-- 面包屑导航 -->
    <div class="breadcrumb">
      <div class="breadcrumb-head flex flex-start">模块管理</div>
      <el-breadcrumb>
        <el-breadcrumb-item v-for="(item,i) in $route.meta" :key="i">{{item}}</el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <el-row>
      <el-col :span="6">
        <el-input placeholder="关键字搜索" prefix-icon="el-icon-search" v-model="searchWord"></el-input>
      </el-col>
      <el-col :span="2">
        <el-button icon="el-icon-plus" class="purple-bg ml20" @click="dialogFormVisible = true">新增模块</el-button>
      </el-col>
    </el-row>
    <div class="content mt20">
      <el-table ref="multipleTable" :data="tableData" tooltip-effect="dark" style="width: 100%"
                @selection-change="handleSelectionChange">
        <el-table-column type="selection" width="55">
        </el-table-column>
        <el-table-column prop="modules_id" label="模块ID">
        </el-table-column>
        <el-table-column prop="modules_name" label="模块名称">
        </el-table-column>
        <el-table-column prop="modules_key" label="模块KEY">
        </el-table-column>

        <el-table-column prop="modules_type" label="模块类型">
        </el-table-column>

        <el-table-column label="操作" width="140px">
          <template slot-scope="scope">
            <el-button type="text" size="small" class="orange-txt" @click="edit(scope.row)">修改</el-button>
          </template>
        </el-table-column>

      </el-table>

    </div>
    <el-dialog title="新增模块" :visible.sync="dialogFormVisible">
      <el-form :model="form" style="width: 50%;">
        <el-form-item label="模块名" label-width='120px'>
          <el-input v-model="form.modules_name"></el-input>
        </el-form-item>
        <el-form-item label="模块KEY" label-width='120px'>
          <el-input v-model="form.modules_key"></el-input>
        </el-form-item>
        <el-form-item label="模块类型" label-width='120px'>
          <el-select v-model="form.modules_type" placeholder="请选择活动区域">
            <el-option label="自营" value="10"></el-option>
            <el-option label="定制" value="20"></el-option>
          </el-select>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="addModules">确 定</el-button>
      </div>
    </el-dialog>
    <el-dialog title="修改模块" :visible.sync="editDialog">
      <el-form :model="editForm" style="width: 50%;">
        <el-form-item label="模块名" label-width='120px'>
          <el-input v-model="editForm.modules_name"></el-input>
        </el-form-item>
        <el-form-item label="模块KEY" label-width='120px'>
          <el-input v-model="editForm.modules_key"></el-input>
        </el-form-item>
        <el-form-item label="模块类型" label-width='120px'>
          <el-select v-model="editForm.modules_type" placeholder="请选择活动区域">
            <el-option label="自营" value="10"></el-option>
            <el-option label="定制" value="20"></el-option>
          </el-select>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="editDialog = false">取 消</el-button>
        <el-button type="primary" @click="saveEdit">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        searchWord: '',
        tableData:[],
        dialogFormVisible: false,
        editDialog:false,
        form:{
          status:1,
          modules_type:10
        },
        editForm:{}
      }
    },
    methods:{
      getModulesList(){
        this.$http.get(this.$api.getModulesList,{}).then(res=>{
          console.log('模块列表');
          console.log(res);
          this.tableData=res.data.data.modules_list
        })
      },
      addModules(){
        console.log(this.form);
        this.$http.post(this.$api.addModules,this.$qs.stringify(this.form)).then(res=>{
          console.log('添加模块');
          console.log(res);
          if(res.data.result==0){
            this.dialogFormVisible=false;
            this.getModulesList()
          }else{
            this.$message.error(res.data.message)
          }
        });
        this.dialogFormVisible= true
      },
      // 修改模块
      edit(res){
        console.log(res.modules_id);
        this.$http.get(this.$api.getModulesInfo,{params:{modules_id:res.modules_id}}).then(res=>{
          console.log('修改模块');
          console.log(res);
          this.editDialog=true;
          this.editForm=res.data.data.modules_info
        })
      },

      // 保存修改信息
      saveEdit(){
        this.$http.post(this.$api.editModules,this.$qs.stringify(this.editForm)).then(res=>{
          console.log('保存修改信息');
          console.log(res);
          if(res.data.result==0){
             this.editDialog=false;
            this.$message.success('修改成功');
            this.getModulesList()
          }
        })
      },
      handleSelectionChange(){

      }
    },
    created(){
      this.getModulesList();
      // this.$http.get('/apis/cgi-bin/token?grant_type=client_credential&appid=wxc19234774c9b3a52&secret=94a61d7c41eef6a1db2fbdd27b5b39ec').then(res=>{
      //   console.log('获取token');
      //   console.log(res);
      // })
      this.$jsonp('https://api.weixin.qq.com/cgi-bin/token?grant_type=client_credential&appid=wxc19234774c9b3a52&secret=94a61d7c41eef6a1db2fbdd27b5b39ec',{} ).then(json => {
      // 返回数据 json， 返回的数据就是json格式
        console.log('jsonP');
        console.log(json);
      }).catch(err => {
    console.log(err)
  })
    }
  }
</script>

<style scoped>

</style>
