<template>
  <div class="login">
    <div class="loginBox flex flex-ais flex-column pad20" style="padding-left: 60px;padding-right: 60px">
      <div class="login_title">后台登录</div>
      <el-input type="text" v-model="phone" placeholder="请输入用户名" style="width:80%;margin-top: 20px"></el-input>
      <el-input class="mb20" type="password" v-model="pwd" placeholder="请输入密码"
                style="width: 80%;margin-top: 20px"></el-input>
      <el-checkbox v-model="remember_on">记住账号</el-checkbox>
      <el-button type="primary" style="width: 100%;background:#4D6CF3;margin-top: 34px;height: 56px; font-size: 20px" @click="login">登 录</el-button>
    </div>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        phone: '',
        pwd:'',
        remember_on:false,
      }
    },
    methods: {
      login(){
        if(this.phone&&this.pwd){
          if(this.remember_on){
             let storage =window.localStorage;
            storage.setItem('phone',this.phone);
            storage.setItem('pwd',this.pwd)
          }
          console.log(this.isRemeber);
          let params={};
          params.phone=this.phone;
          params.pwd=this.pwd;
          params.remember_on=this.remember_on?1:0;
          this.$http.post(this.$api.login, this.$qs.stringify(params)).then(res=>{
            console.log('登录');
            if(res.data.result==0){
              window.sessionStorage.setItem('isLogin',1);
              this.$router.push('/')
            }else{
              if(res.data.result==80001){
                this.$message.error('账号密码不正确')
              }else{
                this.$message.error('登录失败')
              }
            }
          });
        }else{
          this.$message.error('请输入账号密码')
        }

      }
    },
    created() {
        let storage=window.localStorage;
      let phone= storage.getItem('phone');
      let pwd = storage.getItem('pwd');
      if(phone){
        this.phone=phone
      }
      if(pwd){
        this.pwd=pwd
      }
    }
  };
</script>

<style scoped lang="less">
  #app {
    margin: 0;
    padding: 0;
  }

  .login {
    background: url("../img/login_bg1.jpeg");
    width: 100%;
    height: 100%;
    background-position: right;
    background-repeat: no-repeat;
  }

  .loginBox {
    position: fixed;
    right: 200px;
    top: 26%;
    width: 24%;
    background: #ffffff;
    border-radius: 12px;
  }

  .login_title {
    color: #676975;
    font-size: 18px;
  }

  .input {
    width: 100px;
    height: 50px;
  }
</style>
