<template>
  <div>
    <!-- 面包屑导航 -->
    <div class="breadcrumb">
      <div class="breadcrumb-head flex flex-start">权限管理</div>
      <el-breadcrumb>
        <el-breadcrumb-item v-for="(item,i) in $route.meta" :key="i">{{item}}</el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <el-row>
      <el-col :span="6">
        <el-input placeholder="关键字搜索" prefix-icon="el-icon-search" v-model="searchWord"></el-input>
      </el-col>
      <el-col :span="2">
        <el-button icon="el-icon-plus" class="purple-bg ml20" @click="addFirstDialog = true">新增权限</el-button>
      </el-col>
    </el-row>
    <div class="content mt20">
      <el-table ref="multipleTable" :data="tableData" tooltip-effect="dark" style="width: 100%"
                @selection-change="handleSelectionChange">
        <el-table-column type="selection" width="55">
        </el-table-column>
        <el-table-column prop="per_id" label="权限ID">
        </el-table-column>
        <el-table-column prop="modules_name" label="权限名称">
        </el-table-column>
        <el-table-column prop="per_name" label="编号">
        </el-table-column>
        <el-table-column prop="per_key" label="权限KEY">
        </el-table-column>
        <el-table-column prop="create_at" label="创建时间">
        </el-table-column>

        <el-table-column label="操作" width="140px">
          <template slot-scope="scope">
            <el-button type="text" size="small" class="orange-txt" @click="edit(scope.row)">修改</el-button>
          </template>
        </el-table-column>

      </el-table>

    </div>
    <el-dialog title="新增一级权限" :visible.sync="addFirstDialog">
      <el-form :model="form" style="width: 50%;">
        <el-form-item label="权限名" label-width='120px'>
          <el-input v-model="form.permission_name"></el-input>
        </el-form-item>
        <el-form-item label="权限KEY" label-width='120px'>
          <el-input v-model="form.permission_key"></el-input>
        </el-form-item>
        <el-form-item label="模块" label-width='120px'>
          <el-select v-model="form.modules_id" placeholder="请选择活动区域" @change="selectModule">
            <el-option v-for=" item in moduleOptions" :key="item.value" :label="item.label" :value="item.value"></el-option>
          </el-select>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="addFirstDialog = false">取 消</el-button>
        <el-button type="primary" @click="addPermission">确 定</el-button>
      </div>
    </el-dialog>
    <el-dialog title="修改权限" :visible.sync="editFirstDialog">
      <el-form :model="editForm" style="width: 50%;">
        <el-form-item label="权限名" label-width='120px'>
          <el-input v-model="editForm.per_name"></el-input>
        </el-form-item>
        <el-form-item label="权限KEY" label-width='120px'>
          <el-input v-model="editForm.per_key"></el-input>
        </el-form-item>
        <el-form-item label="模块" label-width='120px'>
          <el-select v-model="editForm.modules_id" placeholder="请选择活动区域" @change="selectModule">
            <el-option v-for=" item in moduleOptions" :key="item.value" :label="item.label" :value="item.value"></el-option>
          </el-select>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="editFirstDialog = false">取 消</el-button>
        <el-button type="primary" @click="saveEditPermission">确 定</el-button>
      </div>
    </el-dialog>
  </div>

</template>

<script>
  export default {
    data() {
      return {
        searchWord: "",
        tableData: [],
        addFirstDialog: false,
        editFirstDialog:false,
        form: {
          permission_name:'',
          permission_key:'',
          parent_key:0,
          modules_id:'',

        },
        editForm:{},
        moduleOptions:[]
      }
    },
    methods: {
      getRootPermission(){
        this.$http.get(this.$api.getRootPermission, {}).then(res => {
          console.log('获取根权限');
          console.log(res);
          res.data.data.permission_list.forEach(function (o) {
            o.create_at = new Date(o.create_at);
            let year = o.create_at.getFullYear();
            console.log(year);
            let month = o.create_at.getMonth();
            console.log(month);
            let day = o.create_at.getDay();
            console.log(day);
            o.create_at = year +'年'+ month +'月'+ day+'日'
          });
          this.tableData = res.data.data.permission_list
        });
      },
      addPermission() {
        var self = this;
        let params = {};
        params.permission_name = this.form.permission_name;
        params.permission_key = this.form.permission_key;
        params.parent_key = this.form.parent_key;
        params.modules_id = this.form.modules_id;
        params.modules_key = this.form.modules_key;
        this.$http.post(this.$api.addPermission, this.$qs.stringify(params)).then(res => {
          console.log('添加权限');
          console.log(res);
          if(res.data.result==0){
            this.addFirstDialog = false;
            this.getRootPermission();
            this.$message.success('添加成功')
          }
        });
      },
      selectModule(res){
        console.log(res);
        var self=this
        this.moduleOptions.forEach(function(o){
              if(o.value==res){
                self.form.modules_key=o.modules_key
              }
        })
      },
      edit(res){
        console.log(res);
        this.editFirstDialog=true;
        this.$http.get(this.$api.getPermissionInfo,{params:{permission_id:res.per_id}}).then(res=>{
          console.log('获取单个权限信息');
          console.log(res);
          this.editForm=res.data.data.permission_info
        })
      },
      saveEditPermission(){
          this.$http.post(this.$api.editPermission,this.$qs.stringify(this.editForm)).then(res=>{
            console.log('保存修改权限');
            console.log(res);
          })
      },
      handleSelectionChange() {

      }
    },
    created() {
      var self=this;
      this.getRootPermission();
      this.$http.get(this.$api.getModulesList,{}).then(res=>{
        console.log('模块列表');
        console.log(res);
        res.data.data.modules_list.forEach(function(o){
            let obj={};
            obj.label=o.modules_name;
            obj.value=o.modules_id;
            obj.modules_key=o.modules_key
            self.moduleOptions.push(obj)
        })
      })
    }
  }
</script>

<style scoped>

</style>
