<template>
  <div>
    <!-- 面包屑导航 -->
    <div class="breadcrumb">
      <div class="breadcrumb-head flex flex-start">人员管理</div>
      <el-breadcrumb>
        <el-breadcrumb-item v-for="(item,i) in $route.meta" :key="i">{{item}}</el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <el-row>
      <el-col :span="6">
        <el-input placeholder="关键字搜索" prefix-icon="el-icon-search" v-model="searchWord"></el-input>
      </el-col>
      <el-col :span="2">
        <el-button icon="el-icon-plus" class="purple-bg ml20" @click="addManagerDialog=true">新增管理员</el-button>
      </el-col>
    </el-row>
    <div class="content mt20">
      <el-table ref="multipleTable" :data="tableData" tooltip-effect="dark" style="width: 100%"
                @selection-change="handleSelectionChange">
        <el-table-column type="selection" width="55">
        </el-table-column>
        <el-table-column prop="title" label="模块ID">
        </el-table-column>
        <el-table-column label="模块名称">
        </el-table-column>
        <el-table-column prop="模块类型" label="编号">
        </el-table-column>
        <el-table-column prop="模块状态" label="品牌">
        </el-table-column>
        <el-table-column prop="创建时间" label="分类">
        </el-table-column>

        <el-table-column label="操作" width="140px">
          <template slot-scope="scope">
            <el-button type="text" size="small" class="orange-txt" @click="edit(scope.row)">修改</el-button>
          </template>
        </el-table-column>

      </el-table>

    </div>
    <el-dialog title="新增管理员" :visible.sync="addManagerDialog">
      <el-form :model="form" style="width: 50%;">
        <el-form-item label="管理员名称" label-width='120px'>
          <el-input v-model="form.name"></el-input>
        </el-form-item>
        <el-form-item label="管理员密码" label-width='120px'>
          <el-input v-model="form.name"></el-input>
        </el-form-item>
        <el-form-item label="管理员密码" label-width='120px'>
          <el-input v-model="form.name"></el-input>
        </el-form-item>
        <el-form-item label="手机" label-width='120px'>
          <el-input v-model="form.name"></el-input>
        </el-form-item>
        <el-form-item label="邮箱" label-width='120px'>
          <el-input v-model="form.name"></el-input>
        </el-form-item>
        <el-form-item label="默认模块" label-width='120px'>
          <el-select v-model="form.region" placeholder="请选择活动区域">
            <el-option label="区域一" value="shanghai"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="默认店铺" label-width='120px'>
          <el-input v-model="form.name" placeHolder="请输入默认店铺名"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="addManagerDialog = false">取 消</el-button>
        <el-button type="primary" @click="addManager">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
    export default {
      data() {
        return {
          searchWord: "",
          tableData: [],
          addManagerDialog: false,
          form:{
            name:''
          }
        }
      },
      methods: {
        addManager(){
          this.addManagerDialog= false
        },
        handleSelectionChange() {

        }
      },
      created() {

      }
    }
</script>

<style scoped>

</style>
