<template>
  <div>
    <!-- 面包屑导航 -->
    <div class="breadcrumb">
      <div class="breadcrumb-head flex flex-start">店铺管理</div>
      <el-breadcrumb>
        <el-breadcrumb-item v-for="(item,i) in $route.meta" :key="i">{{item}}</el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <el-row>
      <el-col :span="6">
        <el-input placeholder="关键字搜索" prefix-icon="el-icon-search" v-model="searchWord"></el-input>
      </el-col>
      <el-col :span="2">
        <el-button icon="el-icon-plus" class="purple-bg ml20" @click="addShopDialog=true">新增店铺</el-button>
      </el-col>
    </el-row>
    <div class="content mt20">
      <el-table ref="multipleTable" :data="tableData" tooltip-effect="dark" style="width: 100%"
                @selection-change="handleSelectionChange">
        <el-table-column type="selection" width="55">
        </el-table-column>
        <el-table-column prop="title" label="模块ID">
        </el-table-column>
        <el-table-column label="模块名称">
        </el-table-column>
        <el-table-column prop="模块类型" label="编号">
        </el-table-column>
        <el-table-column prop="模块状态" label="品牌">
        </el-table-column>
        <el-table-column prop="创建时间" label="分类">
        </el-table-column>

        <el-table-column label="操作" width="140px">
          <template slot-scope="scope">
            <el-button type="text" size="small" class="orange-txt" @click="edit(scope.row)">修改</el-button>
          </template>
        </el-table-column>

      </el-table>

    </div>
    <el-dialog title="店铺注册" :visible.sync="addShopDialog">
      <el-form :model="form">
        <el-row>
          <el-col :span="10">
            <el-form-item label="店铺名" label-width='120px'>
              <el-input v-model="form.shop_name"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="10">
            <el-form-item label="店铺code" label-width='120px'>
              <el-input v-model="form.shop_code"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="10">
            <el-form-item label="模块" label-width='120px'>
              <el-select v-model="form.modules_id" placeholder="请选择模块">
                <el-option
                  v-for="item in modulesOptions"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="10">
            <el-form-item label="店铺类型" label-width='120px'>
              <el-select v-model="form.shop_type" placeholder="请选择店铺类型">
                <el-option
                  v-for="item in typeOptions"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="10">
            <el-form-item label="店铺状态" label-width='120px'>
              <el-select v-model="form.shop_status" placeholder="请选择状态">
                <el-option
                  v-for="item in statusOptions"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="10">
            <el-form-item label="是否认证" label-width='120px'>
              <el-select v-model="form.is_verify" placeholder="请选择">
                <el-option
                  v-for="item in verifyOptions"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="10">
            <el-form-item label="店长" label-width='120px'>
              <el-input v-model="form.shop_owner_id"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="10">
            <el-form-item label="真实姓名" label-width='120px'>
              <el-input v-model="form.shop_owner_name"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="10">
            <el-form-item label="身份证" label-width='120px'>
              <el-input v-model="form.shop_owner_IDCard"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="10">
            <el-form-item label="app_id" label-width='120px'>
              <el-input v-model="form.app_id"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="10">
            <el-form-item label="app_secret" label-width='120px'>
              <el-input v-model="form.app_secret"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="10">
            <el-form-item label="much_id" label-width='120px'>
              <el-input v-model="form.mch_id"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="10">
            <el-form-item label="到期时间" label-width='120px'>
              <el-date-picker
                v-model="form.expire"
                type="date"
                placeholder="选择日期">
              </el-date-picker>
            </el-form-item>
          </el-col>
        </el-row>

      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="addShopDialog = false">取 消</el-button>
        <el-button type="primary" @click="addShop">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        searchWord: "",
        tableData: [],
        addShopDialog: false,
        endTime: '',
        form: {},
        modulesOptions: [{
          label: '模块1',
          value: 1
        }],
        typeOptions: [{
          label: '类型1',
          value: 1
        }],
        statusOptions: [{
          label: '状态1',
          value: 1
        }],
        verifyOptions: [{
          label: '已认证',
          value: 1
        },
          {
            label: '未认证',
            value: 2
          }]
      }
    },
    methods: {
      addShop() {
        this.$http.post(this.$api.applyShop, this.$qs.stringify(this.form)).then(res => {
          console.log('申请店铺');
          console.log(res);

        });
        // this. addShopDialog=false
      },
      handleSelectionChange() {

      }
    },
    created() {
      this.$http.get(this.$api.getShopList, {}).then(res => {
        console.log('获取店铺列表');
        console.log(res);
      })
    }
  }
</script>

<style scoped>

</style>
